@font-face {
    font-family: "Montserrat";
    src: url("./styles/Montserrat/Montserrat-VariableFont_wght.ttf");
}

body {
    background-color: rgb(59, 71, 91);
    font-family: "Montserrat";
    overflow-y: auto;
    padding-bottom: 200px;
}

section{ 
    scroll-behavior: smooth;
}

.reveal {
    transform: translateY(50px);
    opacity: 0;
    transition: 2s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.nav {
    position: fixed;
    overflow: hidden;
    background-color: rgb(59, 71, 91);
    width: 100%;
    height: 70px;
    top: 0;
    transition: transform 0.2s;
    z-index: 100;
}

.nav a {
    box-sizing: border-box;
    float: right;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px 5px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    margin-right: 100px;
    margin-top: 5px;
}
  
.nav a.links:hover {
    background-color: rgb(180, 218, 252);
    color: black;
    border-radius: 20px;
}
  
.nav a.active {
    background-color: #04AA6D;
    color: white;
}

.nav a.name-nav { 
    float: left;
    padding-left: 100px;
    font-size: 25px;
}

.nav--hidden { 
    transform: translateY(-75px);
}

.description { 
    display: flex;
    flex-direction: column;
    padding-top: 125px;
    margin-left: clamp(5.625rem, -35.325rem + 45.5vw, 62.5rem);
}

.desc-header { 
    font-size: 50px;
    font-weight: 550;
    color: rgb(255, 255, 255);
    
}

.desc-title {
    font-style: italic;
    font-size: 20px;
    color: rgb(223, 223, 223);
    margin-top: -50px;
}

.desc-text { 
    margin-top: -10px;
    font-size: 25px;
    color: rgb(255, 255, 255);
}

.desc-links { 
    display:flex;
    margin-left: clamp(5.625rem, -35.325rem + 45.5vw, 62.5rem);
}

.link { 
    border-radius: 100%;
    margin-right: 15px;
}

.p1 { 
    float: right;
    margin-top: -450px;
    margin-right: clamp(5.625rem, -35.325rem + 45.5vw, 62.5rem);
    border-radius: 20%;
}


.p3 { 
    margin-top: 50px;
    margin-left: clamp(5.625rem, -35.325rem + 45.5vw, 62.5rem);
}

.p4 { 
    margin-top: 150px;
    margin-left: clamp(5.625rem, -35.325rem + 45.5vw, 62.5rem);

}

.p5 {
    margin-top: 150px;
    margin-left: clamp(9.375rem, -31.35rem + 45.25vw, 65.9375rem);
}

.p6 { 
    margin-top: -100px;
    margin-right: clamp(15.625rem, -19.7rem + 39.25vw, 64.6875rem);
    float: right;
    border-radius: 20%;
}

.skills-title { 
    margin-top: 250px;
    font-size: 60px;
    font-weight: 450;
    color: rgb(255, 255, 255);
    text-align: center;
}

.skills-sub {
    display: flex;
    flex-direction: column;
    color: rgb(255,255,255);
    float: right;
    margin-right: clamp(5.625rem, -35.325rem + 45.5vw, 62.5rem);
}

.skills-subtitle-1 { 
    font-size: 35px;
    margin-bottom: 23px;
}

.skills-text { 
    font-size: 20px;
}

.skills-icons { 
    display: flex;
    margin-top: 15px;
    justify-content: space-around;
}

.skills-subtitle-2 { 
    font-size: 35px;
    margin-bottom: 23px;
    margin-top: 150px;
}

.edu-title { 
    margin-top: 100px;
    font-size: 60px;
    font-weight: 450;
    color: rgb(255,255,255);
    text-align: center;
}

.edu-logo { 
    margin-left: clamp(7.5rem, -35.475rem + 47.75vw, 67.1875rem);
}

.edu-sub {
    display: flex;
    flex-direction: column; 
    margin-left: clamp(21.875rem, -19.75rem + 46.25vw, 79.6875rem);
    margin-top: -215px;
}
.edu-school { 
    color:rgb(255,255,255);
    font-weight: 500;
    font-size: 25px;
}

.edu-degree { 
    color: rgb(255,255,255);
    font-size: 20px;
    margin-top: -20px;
}

.edu-text { 
    color: rgb(255,255,255);
    font-size:18px;
    margin-top: -10px;
}

.exp-title { 
    margin-top: 100px;
    color: rgb(255,255,255);
    font-size: 60px;
    text-align: center;
}

.experiences { 
    display: flex;
    flex-direction: row;

}

.exp-1 { 
    width: 380px;
    height: 153px;
    flex-shrink: 0;
    border-radius: 20px 20px 0px 0px; 
    background: #019B5A;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.25);
    margin-left: clamp(5.625rem, -38.7rem + 49.25vw, 67.1875rem);
    margin-right: 55px;
}

.exp-1-comp { 
    width: 207px;
    height: 37px;
    color: #FFF;
    font-size: 30px;
    font-weight: 500;
    line-height: normal;
    margin-left: 90px;
}

.exp-1a { 
    position:absolute;
    margin-top: -10px;
    margin-left: 132px;
    width: 115px;
    height: 115px;
    flex-shrink: 0;
    border-radius: 100px;
    border: 2px solid #019B5A;
    background: url(./images/limex_logo.png), lightgray 50% / cover no-repeat;
}

.exp-1-title { 
    position: absolute;
    width: 340px;
    height: 44px;
    color: #000;
    font-size: 22px;
    font-weight: 450;
    margin-left: 45px;
    margin-top: 125px;
}

.exp-1-date { 
    position: absolute;
    width: 223px;
    height: 35px;
    font-size: 20px;
    font-weight: 450;
    margin-left: 95px;
    margin-top: 160px;
}

.exp-1-text { 
    position: absolute;
    text-align: center;
    width: 315px;
    height: 243px;
    font-size: 18px;
    font-weight: 400;
    margin-top: 200px;
    margin-left: 35px;

}

.exp-2 { 
    width: 380px;
    height: 153px;
    flex-shrink: 0;
    border-radius: 20px 20px 0px 0px; 
    background: #00375E;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.25);
    margin-right: 55px;
}

.exp-2-comp { 
    width: 207px;
    height: 37px;
    color: #FFF;
    font-size: 30px;
    font-weight: 500;
    line-height: normal;
    margin-left: 90px;
}

.exp-2a { 
    position:absolute;
    margin-top: -10px;
    margin-left: 132px;
    width: 115px;
    height: 115px;
    flex-shrink: 0;
    border-radius: 100px;
    border: 2px solid rgb(13,40,75);
    background: url(./images/west_monroe_logo.png), lightgray 50% / cover no-repeat;
}

.exp-2-title { 
    position: absolute;
    text-align: center;
    width: 340px;
    height: 44px;
    color: #000;
    font-size: 22px;
    font-weight: 450;
    margin-left: 25px;
    margin-top: 125px;
}

.exp-2-date { 
    position: absolute;
    width: 223px;
    height: 35px;
    font-size: 20px;
    font-weight: 450;
    margin-left: 87px;
    margin-top: 180px;
}

.exp-2-text { 
    position: absolute;
    text-align: center;
    width: 315px;
    height: 243px;
    font-size: 18px;
    font-weight: 400;
    margin-top: 215px;
    margin-left: 35px;
}

.exp-3 { 
    width: 380px;
    height: 153px;
    flex-shrink: 0;
    border-radius: 20px 20px 0px 0px; 
    background: #196FB2;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.25);
}

.exp-3-comp { 
    width: 207px;
    height: 37px;
    color: #FFF;
    font-size: 30px;
    font-weight: 500;
    line-height: normal;
    margin-left: 115px;
}

.exp-3a { 
    position:absolute;
    margin-top: -10px;
    margin-left: 132px;
    width: 115px;
    height: 115px;
    flex-shrink: 0;
    border-radius: 100px;
    border: 2px solid rgb(13,40,75);
    background: url(./images/staysense_logo.png), lightgray 50% / cover no-repeat;
}

.exp-3-title { 
    position: absolute;
    width: 340px;
    height: 44px;
    color: #000;
    font-size: 22px;
    font-weight: 450;
    margin-left: 50px;
    margin-top: 125px;
}

.exp-3-date { 
    position: absolute;
    width: 223px;
    height: 35px;
    font-size: 20px;
    font-weight: 450;
    margin-left: 85px;
    margin-top: 160px;
}

.exp-b {
    width: 380px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 0px 0px 20px 20px;
    background: #FFF;
    margin-top: 80px;
    margin-bottom: 2000px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.25);
}

.exp-4 { 
    margin-top: 650px;
    margin-left: -1250px;
    width: 380px;
    height: 153px;
    flex-shrink: 0;
    border-radius: 20px 20px 0px 0px; 
    background: #018CA2;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.25);
}

.exp-4-comp { 
    width: 207px;
    height: 37px;
    color: #FFF;
    font-size: 30px;
    font-weight: 500;
    line-height: normal;
    margin-left: 133px;
}

.exp-4a { 
    position:absolute;
    margin-top: -10px;
    margin-left: 132px;
    width: 115px;
    height: 115px;
    flex-shrink: 0;
    border-radius: 100px;
    border: 2px solid #018CA2;
    background: url(./images/epidata_logo.png), lightgray 50% / cover no-repeat;
}

.exp-4-title { 
    position: absolute;
    width: 340px;
    height: 44px;
    color: #000;
    font-size: 22px;
    font-weight: 450;
    margin-left: 75px;
    margin-top: 125px;
}

.exp-4-date { 
    position: absolute;
    width: 223px;
    height: 35px;
    font-size: 20px;
    font-weight: 450;
    margin-left: 90px;
    margin-top: 160px;
}

.contact-title { 
    color: #FFF;
    font-size: 60px;
    font-weight: 450;
    margin-top: 500px;
    text-align: center;
}

.contact-subtitle { 
    color: #FFF;
    font-size: 25px;
    font-weight: 450;
    margin-top: -50px;
    text-align: center;
}

.contact-pin { 
    margin-left: clamp(5.625rem, -35.325rem + 45.5vw, 62.5rem);
}

.contact-location { 
    margin-top: -32px;
    margin-left: clamp(7.8125rem, -33.1375rem + 45.5vw, 64.6875rem);
    color: #FFF;
    font-size: 20px;
}

.opp { 
    color: #FFF;
    font-size: 20px;
    margin-left: clamp(5.625rem, -35.325rem + 45.5vw, 62.5rem);
    margin-top: 30px;
}




/* @media screen and (max-width: 600px) { 

}

@media screen and (min-width:600) { 
    
} */

/* @media screen and (min-width: 768px){
    .edu-title { 
        color: rgb(255, 255, 0);
    }
}

@media screen and (min-width: 1024px) {
    .edu-title { 
        color: rgb(255, 0, 255);
    }
}

@media screen and (min-width: 1200px) {
    .edu-title{ 
        color: rgb(0,255,255);
    }
}

@media screen and (min-width: 1440px) { 
    .desc-text { 
        font-size: 28px;
    }
    .edu-title{ 
        color: rgb(255,255,255);
    }
} */


/* my macbook pixel width is 1440px */
